.t1
{
	font-size:40px;
	font-weight:600;
}
.t2
{
	font-size:30px;
	font-weight:400;
}
.t3
{
	font-size:20px;
	font-weight:300;

}
.t4
{
	font-size:18px;
	font-weight:100;
}
#square1
{
	float:left;
	background-color:#D1EEEE;
	width:300px;
	height:900px;
	margin-left:50px;
	color:white;
	text-align:center;
	
}
#square2
{
	float:left;
	padding-left:50px;
	
	
}